<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
    
    <property name="DEV_HOME" value="logs" />
    <timestamp key="byDay" datePattern="dd-MM-yyyy"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd/MM/yyyy HH:mm} [%M] %-5level %logger{36} - %n%msg%n%n</pattern>
        </encoder>
    </appender>
	
    <!-- 
        All logging will be redirected to a file logs/debug.log. 
        Furthermore, this log file will be archived daily or the file size is larger than 10MB.
    -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${DEV_HOME}/debug-${byDay}.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{dd/MM/yyyy HH:mm} [%thread - %M] %-5level %logger{36} - %n%msg%n%n</pattern>
        </encoder>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/archived/debug.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="br.edu.ufrb.lasis.humv" level="ALL" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </logger>
        
    <root level="ALL">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>