<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">lAs1s_UFRB</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/humv_db</property>
        <property name="hibernate.connection.username">humv</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="br.edu.ufrb.lasis.humv.entity.Animal"/>
        <mapping class="br.edu.ufrb.lasis.humv.entity.Dono"/>
        <mapping class="br.edu.ufrb.lasis.humv.entity.Procedimento"/>
        <mapping class="br.edu.ufrb.lasis.humv.entity.Setor"/>
    </session-factory>
</hibernate-configuration>
