<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd/MM/yyyy HH:mm} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
	
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/humv-log-${byDay}.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%d{dd/MM/yyyy HH:mm} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="br.edu.ufrb.lasis.humv" level="ALL"/>
	
    <root level="OFF">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>